body{
font-family: 'Patua One';
background-color: #ffffff;
margin: 0px;
padding: 0px;
}

.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container span{
  color: white;
  text-transform: uppercase;
  display: block;
}

.title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 20px;
  color: white;
  background: black;
  position: relative;
  animation: text 3s 1;
}

.artist {
  font-size: 30px;
  color: green;
  background: black;

}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 35px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

ul{
  position: relative;
  width: 450px;
  margin: 100px auto 0;
  padding: 110px;
  margin-bottom: 100px;
}

ul li {
  display: flex;
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 5px 0;
  transition: .5s;
}



ul li span:nth-child(1){
  width: 30px;
}

ul li span:nth-child(2){
  width: 350px;
}

ul li:hover{
  transform: scale(1.3);
  background: black;
  color: white;
}


.image1 {
  display: inline-block;
  height: auto;
  width: 100%;
}

.image2 {
width: 100%;
height: auto;
margin-top: 20px;
}

p {
  text-align: justify;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
  font-family: 'Patua One';
  line-height: 1.2;
}

.caption{
  color: black;
  text-align: center;
  font-size: 17px;
  margin: 0px;
}

.concon {
  background-color: black;
  padding: 30px;
  margin: 50px;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid black ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:black;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

a {
  text-decoration: none;
}
