html {
   background-color: white;
}

div {
   /* position: static; */
   background-image: url('../img/children-background.jpg');
   background-size: cover;
   background-attachment: scroll;
   background-repeat: no-repeat;
   height: 2317px;
}

h1 {
   margin-left: 50px;
   padding-top: 50px;
   font-size: 30px;
}

h1:nth-child(2) {
   color: white;
}

span {
   color: white;
   font-size: 20px;
}

b {
   font-size: 20px;
}

section {
   margin-left: 50px;
   margin-top: 300px;
   line-height: 50px;
}

blockquote::before {
   content: '“';
}

blockquote::after {
   content: '”';
}

b,
strong {
   font-weight: 700;
}

ol {
   list-style-type: decimal-leading-zero;
   margin-top: 300px;
   margin-left: 80px;
   line-height: 36px;
   font-size: 20px;
}

a {
   color: black;
}

a:visited {
   color: white;
}

a:hover {
   color: rgb(77, 184, 171);
   background-color: white;
}

main {
   text-align: justify;
   margin-left: 100px;
   margin-right: 100px;
   line-height: 25px;
   font-size: 20px;
}

p {
   padding-top: 400px;
}

blockquote {
   padding-top: 400px;
   text-align: center;
}

div:last-child {
   position: static;
   background-image: url('../img/bike-girl.jpg');
   background-size: cover;
   background-attachment: scroll;
   background-repeat: no-repeat;
   height: 1856px;
}
